doctype html
html
	head
		title #{title}
		link(rel='stylesheet' href = "css/style.css")
		meta(name='viewport' content="width=device-width, inititial-scale=1")
	body
		main
			block header
				header.header
					h1 #{title}
			block content