doctype html
head
  title &Acy;&jcy;&vcy;&acy;&zcy;&ocy;&vcy;&scy;&kcy;&icy;&jcy; - &Pcy;&iecy;&chcy;&acy;&tcy;&softcy; &ncy;&acy; &KHcy;&ocy;&lcy;&scy;&tcy;&iecy;
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css?family=Raleway&display=swap' rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
section#nav-bar
  nav.navbar.navbar-expand-xl.navbar-light
    img(src='img/logotip.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='#form-sec')
            | &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#products') &Kcy;&acy;&rcy;&tcy;&icy;&ncy;&ycy;
        li.nav-item
          a.nav-link(href='#comments') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        li.nav-item
          a.nav-link(href='https://vk.com/aivazovsky.print' target='_blank')
            i.fa.fa-vk
        li.nav-item
          a.nav-link(href='https://www.instagram.com/aivazovsky.print.crimea/' target='_blank')
            i.fa.fa-instagram
section#carous
  #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='img/carou1.jpg' alt='First slide')
      .carousel-item
        img.d-block.w-100(src='img/carou2.jpg' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='img/carou3.jpg' alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
section#form-sec
  h1.title &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &pcy;&iecy;&chcy;&acy;&tcy;&softcy; &ncy;&acy; &khcy;&ocy;&lcy;&scy;&tcy;&iecy;
  .container
    form(method="POST", action="/send-email")#form
      .form-group
        label(for='exampleFormControlInput1')
        input#emailInput.form-control.form-el(type='email' name='email' placeholder='Ваш e-mail')
        label.col-form-label(for='example-tel-input') &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &ncy;&ocy;&mcy;&iecy;&rcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy;
        input#phoneInput.form-control.form-el(type='tel' name='phone' value='+7')
        label(for='exampleFormControlInput3') &Vcy;&vcy;&iecy;&dcy;&icy;&tcy;&iecy; &vcy;&acy;&shcy;&iecy; &icy;&mcy;&yacy;
        input#nameInput.form-control.form-el(type='text' name='name' placeholder='Ваше имя')
      .form-group.form-el.select-style
        label(for='exampleFormControlSelect1') &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &scy;&tcy;&icy;&lcy;&softcy; &khcy;&ocy;&lcy;&scy;&tcy;&acy;
        select#selectStyle.form-control(name='style')
          option &Fcy;&ocy;&tcy;&ocy;&pcy;&iecy;&chcy;&acy;&tcy;&softcy;
          option Instagram
          option Love is...
          option &Acy;&kcy;&vcy;&acy;&rcy;&iecy;&lcy;&softcy;
          option &Gcy;&rcy;&acy;&ncy;&zhcy;
          option &Dcy;&rcy;&icy;&mcy; &Acy;&rcy;&tcy;
          option Pop-Art
          option &Kcy;&acy;&rcy;&tcy;&icy;&ncy;&acy; &vcy; &ocy;&bcy;&rcy;&acy;&zcy;&iecy;
          option &Rcy;&acy;&mcy;&kcy;&acy; &dcy;&lcy;&yacy; &kcy;&acy;&rcy;&tcy;&icy;&ncy;&ycy;
      .form-group.form-el.select-style
        label(for='exampleFormControlSelect1') &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &rcy;&acy;&zcy;&mcy;&iecy;&rcy; &khcy;&ocy;&lcy;&scy;&tcy;&acy;
        select#selectSize.form-control(name='size')
          option 30&khcy;40
          option 40&khcy;50
          option 40&khcy;60
          option 50&khcy;70
          option 60&khcy;80
          option 70&khcy;90
          option 90&khcy;120
      .input-group.form-el
        .custom-file
          button.btn.btn-success(type='button') ВЫБРАТЬ ФАЙЛ ДЛЯ ХОЛСТА
          input#inputFile.custom-file-input(type='file' required name='img' aria-describedby='inputGroupFileAddon04')
        .input-group-append.form-el
      input(type='submit' value='ЗАКАЗАТЬ').btn.btn-primary
section#products
  .container
    h1.title &Mcy;&ycy; &dcy;&iecy;&lcy;&acy;&iecy;&mcy;:
    .row
      .col-md-4.text-center
        div
          h3 &Fcy;&ocy;&tcy;&ocy;&pcy;&iecy;&chcy;&acy;&tcy;&softcy;
        img(src='img/product1.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 Instagram
        img(src='img/product2.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 Love is...
        img(src='img/product3.jpg' alt='...')
    .row
      .col-md-4.text-center
        div
          h3 &Acy;&kcy;&vcy;&acy;&rcy;&iecy;&lcy;&softcy;
        img(src='img/product4.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 &Gcy;&rcy;&acy;&ncy;&zhcy;
        img(src='img/product5.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 &Dcy;&rcy;&icy;&mcy; &acy;&rcy;&tcy;
        img(src='img/product6.jpg' alt='...')
    .row
      .col-md-4.text-center
        div
          h3 Pop-Art
        img(src='img/product7.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 &Vcy; &ocy;&bcy;&rcy;&acy;&zcy;&iecy;
        img(src='img/product8.jpg' alt='...')
      .col-md-4.text-center
        div
          h3 &Rcy;&acy;&mcy;&kcy;&icy;
        img(src='img/product9.jpg' alt='...')
section#team
  .container
    h1.title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
    ul.list-unstyled
      li.media
        img.mr-3(src='img/comment1.jpg' alt='...')
        .media-body
          h5.mt-0.mb-1 &Pcy;&ocy;&lcy;&icy;&ncy;&acy; &Vcy;&lcy;&acy;&dcy;&icy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;
          p
            i.fa.fa-quote-left
            |  &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &zcy;&acy; &ecy;&tcy;&ocy; &chcy;&ucy;&dcy;&ocy; !!! &Bcy;&ocy;&zhcy;&iecy;, &yacy; &vcy; &tcy;&acy;&kcy;&ocy;&mcy; &vcy;&ocy;&scy;&tcy;&ocy;&rcy;&gcy;&iecy;!!!! &Ecy;&tcy;&ocy; &pcy;&rcy;&ocy;&scy;&tcy;&ocy; &pcy;&rcy;&iecy;&kcy;&rcy;&acy;&scy;&ncy;&ocy;)) &Scy;&dcy;&iecy;&lcy;&acy;&lcy;&icy; &ocy;&chcy;&iecy;&ncy;&softcy; &bcy;&ycy;&scy;&tcy;&rcy;&ocy;, &yacy; &dcy;&acy;&zhcy;&iecy; &ncy;&iecy; &ocy;&zhcy;&icy;&dcy;&acy;&lcy;&acy; &chcy;&tcy;&ocy; &mcy;&ocy;&zhcy;&iecy;&tcy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy;&scy;&yacy; &tcy;&acy;&kcy; &kcy;&rcy;&ucy;&tcy;&ocy;!!! &Ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &vcy;&scy;&iecy;&mcy; &lcy;&yucy;&dcy;&yacy;&mcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&lcy;&icy; &ncy;&acy;&dcy; &ecy;&tcy;&icy;&mcy; &shcy;&iecy;&dcy;&iecy;&vcy;&rcy;&ocy;&mcy;) &ncy;&iecy; &mcy;&ocy;&gcy;&ucy; &ncy;&acy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy;&scy;&yacy;. &Rcy;&iecy;&bcy;&yacy;&tcy;&acy;, &vcy;&ycy; &scy;&acy;&mcy;&ycy;&iecy; &lcy;&ucy;&chcy;&shcy;&icy;&iecy;!!&#x2764;&#x1F91F;
      li.media
        img.mr-3(src='img/comment2.jpg' alt='...')
        .media-body
          h5.mt-0.mb-1 &Lcy;&yucy;&dcy;&mcy;&icy;&lcy;&acy; &Mcy;&icy;&khcy;&iecy;&iecy;&vcy;&acy;
          p
            i.fa.fa-quote-left
            |  &Mcy;&acy;&kcy;&scy;&icy;&mcy; , &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &tcy;&iecy;&bcy;&iecy; , &chcy;&tcy;&ocy; &vcy;&zcy;&yacy;&lcy;&scy;&yacy;, &zcy;&acy; &khcy;&ocy;&rcy;&ocy;&shcy;&ucy;&yucy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy;, &zcy;&acy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&ucy; &vcy; &Mcy;&ocy;&scy;&kcy;&vcy;&ucy; , &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &tcy;&iecy;&bcy;&iecy; &zcy;&acy; &pcy;&iecy;&rcy;&iecy;&ncy;&iecy;&scy;&iocy;&ncy;&ncy;&ycy;&iecy; &ecy;&mcy;&ocy;&tscy;&icy;&icy; &mcy;&ocy;&iecy;&jcy; &mcy;&acy;&mcy;&iecy; , &ocy;&ncy;&acy; &mcy;&iecy;&chcy;&tcy;&acy;&lcy;&acy; &ocy; &kcy;&acy;&rcy;&tcy;&icy;&ncy;&iecy; &dcy;&acy;&vcy;&ncy;&ocy; , &acy; &yacy; &khcy;&ocy;&tcy;&iecy;&lcy;&acy; , &chcy;&tcy;&ocy;&bcy;&ycy; &dcy;&ocy;&mcy;&acy; &bcy;&ycy;&lcy;&acy; &icy;&khcy; &fcy;&ocy;&tcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy; &ncy;&acy; &vcy;&icy;&dcy;&ucy;. &Tcy;&ycy; &icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&lcy; &mcy;&iecy;&chcy;&tcy;&ucy; &icy; &mcy;&ocy;&yucy; , &icy; &mcy;&acy;&mcy;&icy;&ncy;&ucy; , &scy;&pcy;&acy;&scy;&icy;&bcy;&ocy;
      li.media
        img.mr-3(src='img/comment3.jpg' alt='...')
        .media-body
          h5.mt-0.mb-1 &Bcy;&icy;&kcy;&acy; &Acy;&bcy;&dcy;&ucy;&rcy;&acy;&khcy;&mcy;&acy;&ncy;&ocy;&vcy;&acy;
          p
            i.fa.fa-quote-left
            |  &KHcy;&ocy;&chcy;&ucy; &vcy;&ycy;&rcy;&acy;&zcy;&icy;&tcy;&softcy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ucy;&yucy; &bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&ncy;&ocy;&scy;&tcy;&softcy; &zcy;&acy; &ocy;&bcy;&acy;&lcy;&dcy;&iecy;&ncy;&ncy;&ucy;&yucy; &kcy;&acy;&rcy;&tcy;&icy;&ncy;&ucy;&#x1F31F; &icy; &zcy;&acy; &pcy;&rcy;&iecy;&kcy;&rcy;&acy;&scy;&ncy;&ucy;&yucy; &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&ucy;&#x1F381;&Vcy;&scy;&iocy; &bcy;&ycy;&lcy;&ocy; &ncy;&acy; &vcy;&ycy;&scy;&shcy;&iecy;&mcy; &ucy;&rcy;&ocy;&vcy;&ncy;&iecy;!&Icy;&mcy;&iecy;&ncy;&icy;&ncy;&ncy;&icy;&tscy;&acy; &dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&ncy;&acy;!&#x2764; &Scy;&pcy;&acy;&scy;&icy;&bcy;&ocy; &bcy;&ocy;&lcy;&softcy;&shcy;&ocy;&iecy;)
section#comments
  h1.title &Ncy;&acy;&shcy;&acy; &kcy;&ocy;&mcy;&acy;&ncy;&dcy;&acy;
  .container
    .row.text-center
      .col-sm-6.col-md-4
        .testimonial-box
          a(href='https://vk.com/maksim.taran01' target='_blank')
            img.img-responsive(src='img/team1.jpg' alt='' width='90')
          .ratings-icons
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          h4 &Mcy;&acy;&kcy;&scy;&icy;&mcy; &Tcy;&acy;&rcy;&acy;&ncy;
          p &Vcy;&lcy;&acy;&dcy;&iecy;&lcy;&iecy;&tscy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&acy;
          p Есть вопросы? Напиши мне в ВК!
      // End Col
      .col-sm-6.col-md-4
        .testimonial-box
          a(href='https://vk.com/id485063994' target='_blank')
            img.img-responsive(src='img/team2.jpg' alt='' width='90')
          .ratings-icons
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          h4 &Acy;&dcy;&icy;&lcy;&iecy; &Mcy;&icy;&iecy;&dcy;&icy;&ncy;&ocy;&vcy;&acy;
          p &Kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&ncy;&tcy;
          p Есть вопросы? Напиши мне в ВК!
      // End Col
      .col-sm-6.col-md-4
        .testimonial-box
          a(href='https://vk.com/id136945163' target='_blank')
            img.img-responsive(src='img/team3.jpg' alt='' width='90')
          .ratings-icons
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          h4 &Dcy;&iecy;&ncy;&icy;&scy; &Scy;&ycy;&chcy;&iecy;&vcy;
          p &KHcy;&ucy;&dcy;&ocy;&zhcy;&ncy;&icy;&kcy;
      // End Col
section#footer
  .container
    p.text-center &copy; Made by Arthur for Maxim

script(src="js/sendPost.js")
script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
script(src='js/script.js')